In [1]:
import api_wrapper as api
import os
import pandas as pd
import time

### 1. Set the `BEARER_TOKEN` variable to your developer bearer token.

In [2]:
token = pd.read_csv("/Users/dankoban/Documents/EM6586_DB_Management/bearer_token.csv")
os.environ["BEARER_TOKEN"] = token['token'][0]

### 2. Query seeds for profile info (some accounts may be suspended or deleted)

In [3]:
seed_accounts =  pd.read_csv('data/seed_accounts.csv')
seed_accounts = seed_accounts['screen_name'].tolist()
seed_accounts = seed_accounts[0:5] # set to 5 accounts for testing
len(seed_accounts)

5

In [4]:
# Add sleep to prevent exceeding the rate limit of 900 accounts per 15 minutes (60 per min)
counter = 0
seed_account_info = []
suspended_list = []
for user in seed_accounts:     
    time.sleep(2)    
    try:
        resp = api.get_users(usernames=user)                    
        seed_account_info.append(resp) 
    except:
        resp = pd.DataFrame({'user_name': [user], 'description': ['suspended_closed']})
        suspended_list.append(resp)         
    counter += 1        
    if counter %250 == 0:
        print(str(counter) + ' out of ' + str(len(seed_accounts)) + ' :: ' + user + ': ' + str(resp.shape))
        
seed_account_info = pd.concat(seed_account_info)    
seed_account_info.reset_index(inplace = True, drop = True)
suspended_list = pd.concat(suspended_list)    
suspended_list.reset_index(inplace = True, drop = True)
print(len(seed_account_info))
print(len(suspended_list))

2
3

In [5]:
#seed_account_info.to_csv('data/seed_account_info.csv', index = False)
#suspended_list.to_csv('data/suspended_list.csv', index = False)
seed_account_info.head()

,user_id,username,name,description,location,created_at,followers_count,following_count,tweet_count,listed_count
0,4322065997,thereal_truther,The Real Truther,Team Reality forever. Exposing the COVID denie...,California,2015-11-29T21:35:35.000Z,7255.0,5526.0,130770.0,86.0
1,404290687,crwriter1,Joyce üêù Bowen,*Child advocate by virtue of circumstance. *Wr...,NaN,2011-11-03T18:19:19.000Z,11283.0,11321.0,317181.0,73.0

### 3. Query user activity for last 200 posts

In [6]:
# Add sleep to prevent exceeding the rate limit 
counter = 0
activity_list = []
no_activity_list = []
for user in seed_accounts:     
    time.sleep(2)    
    try:
        resp = api.get_user_activity(usernames=[user], record_count = 200)
        activity_list.append(resp) 
    except:
        resp = pd.DataFrame({'user_name': [user], 'description': ['no_activity']})
        no_activity_list.append(resp)             
    counter += 1        
    if counter %250 == 0:
        print(str(counter) + ' out of ' + str(len(seed_accounts)) + ' :: ' + user + ': ' + str(resp.shape))
        
activity = pd.concat(activity_list)    
activity.reset_index(inplace = True, drop = True)
no_acitivity = pd.concat(no_activity_list)    
no_acitivity.reset_index(inplace = True, drop = True)
print(len(activity_list))
print(len(no_activity_list))

token: 7140dibdnow9c7btw3w3xyxlq5j2o5iixz6hnw4lnz6m0
token: 7140dibdnow9c7btw3w3xwuobdtdykza2or1pndet1zxy
token: 7140dibdnow9c7btw3w3xyxlq3tdsgi7fz8od2lf7y81g
token: 7140dibdnow9c7btw3w3xyxaq3r6vmj5qfuzcz4inld80
2
3

In [7]:
#activity.to_csv('data/activity.csv', index = False)
activity.head()

,created_at,conversation_id,entities,id,lang,text,referenced_tweets,public_metrics,author_id,in_reply_to_user_id,author_screen_name,retweet_count,reply_count,like_count,quote_count,referenced_tweet_type,referenced_tweet_id
0,2021-03-18T02:03:01.000Z,1372218826079797255,"{'mentions': [{'start': 0, 'end': 8, 'username...",1372367909519958016,en,"@EHill73 @OBusybody @Kevin_McKernan Point is, ...","[{'type': 'replied_to', 'id': '137236746590515...","{'retweet_count': 0, 'reply_count': 1, 'like_c...",4322065997,4322065997,thereal_truther,0,1,0,0,replied_to,1372367465905156096
1,2021-03-18T02:01:15.000Z,1372218826079797255,"{'mentions': [{'start': 0, 'end': 8, 'username...",1372367465905156096,en,@EHill73 @OBusybody @Kevin_McKernan I'm not sa...,"[{'type': 'quoted', 'id': '1349464787202285571...","{'retweet_count': 0, 'reply_count': 2, 'like_c...",4322065997,60120455,thereal_truther,0,2,0,0,quoted,1349464787202285571
2,2021-03-18T01:58:55.000Z,1372218826079797255,"{'mentions': [{'start': 0, 'end': 8, 'username...",1372366875150016519,en,@EHill73 @OBusybody @Kevin_McKernan A) I don't...,"[{'type': 'quoted', 'id': '1371925349064437761...","{'retweet_count': 0, 'reply_count': 1, 'like_c...",4322065997,60120455,thereal_truther,0,1,0,0,quoted,1371925349064437761
3,2021-03-18T01:58:04.000Z,1372146089407754246,"{'mentions': [{'start': 0, 'end': 8, 'username...",1372366664700895233,en,@LajXtra @CNNSotu @jeffzeleny And that they wo...,"[{'type': 'replied_to', 'id': '137236650398352...","{'retweet_count': 0, 'reply_count': 1, 'like_c...",4322065997,4322065997,thereal_truther,0,1,0,0,replied_to,1372366503983521795
4,2021-03-18T01:57:26.000Z,1372146089407754246,"{'mentions': [{'start': 0, 'end': 8, 'username...",1372366503983521795,en,@LajXtra @CNNSotu @jeffzeleny Messaging should...,"[{'type': 'replied_to', 'id': '137236568529738...","{'retweet_count': 0, 'reply_count': 1, 'like_c...",4322065997,1293268225216700416,thereal_truther,0,1,0,0,replied_to,1372365685297385472

### 5. Extract edge lists

In [8]:
el = api.extract_el(activity)
#el.to_csv('data/el.csv', index = False)
print(len(el))
el.head()

1227

,author_id_from,author_screen_name_from,status_id,to,edge_type
0,4322065997,thereal_truther,1372348424884875266,COVID,hashtag
1,4322065997,thereal_truther,1372300385134637057,VaccinesWork,hashtag
2,404290687,crwriter1,1372360111243542537,health,hashtag
3,404290687,crwriter1,1372359610657558528,ASIA,hashtag
4,404290687,crwriter1,1372358095905640450,explorebeBee,hashtag

### 6. Query seed and mentioned accounts for account info

In [9]:
seed_users = seed_account_info['username'].unique().tolist()
print('seed user count: ' + str(len(seed_users)))
mentioned_users = el['to'][el['edge_type'] == 'mention'].unique().tolist()
print('mentioned user count: ' + str(len(mentioned_users)))
all_users = list(set(seed_users + mentioned_users))
print('total unique users: ' + str(len(all_users)))

seed user count: 2
mentioned user count: 89
total unique users: 89

In [ ]:
#Add sleep since Twitter API rate limit is 900 user queries per 15 minutes
import time

counter = 0
all_users_df = []
for user in all_users:     
    try: 
        resp = api.get_users(usernames=user)        
        time.sleep(4)
        all_users_df.append(resp)         
    except:
        pass
    counter += 1
    if counter %250 == 0:
        print(str(counter) + ' out of ' + str(len(all_users)) + ' :: ' + user + ': ' + str(len(resp)))
        
all_users_df = pd.concat(all_users_df)    
all_users_df.reset_index(inplace = True, drop = True)
#all_users_df.to_csv('data/all_users.csv', index = False)
print(len(all_users_df))