In [1]:
import api_wrapper as api
import os
import pandas as pd

### 1. Set the `BEARER_TOKEN` variable to your developer bearer token.

In [4]:
token = pd.read_csv("/Users/dankoban/Documents/EM6586_DB_Management/bearer_token.csv")
os.environ["BEARER_TOKEN"] = token['token'][0]

### 2. Query user profile info

In [11]:
usernames = ['Broniatowski']
user_info = api.get_users(usernames=usernames)
user_info

,user_id,username,name,description,location,created_at,followers_count,following_count,tweet_count,listed_count
0,195572533,Broniatowski,David A. Broniatowski,Professor at The George Washington University ...,"Washington, DC",2010-09-27T01:39:27.000Z,260.0,274.0,242.0,3.0

### 3. Query user to determine which accounts they follow

In [ ]:
followed_accounts = api.lookup_followed_accounts('Broniatowski', record_count = 300)
followed_accounts.head()

In [ ]:
misinfo_researchers = ['Broniatowski','IrenePasquetto','KolinaKoltai','uwcip','sarahshirazyan','nataschachtena',
 'nadiabrashier','disinformediain','jayvanbavel','lkfazio','STWorg','yang3kc','DG_Rand','_mohsen_m','KaiShu0327',
 'GWIDDP','yangyunkang','redheadacademic','marco_zenone','sinanaral','davidlazer','az_jacobs','PedramHosseini',
 'AMJAMAMJAM1','emmaspiro','psychunseen','MattHindman','Briony_Swire','lylengyan','emilio__ferrara','Graphika_NYC',
 'naomishiffman','katestarbird','noUpside','LeticiaBode','ekvraga','RebekahKTromble','gmukunda',
 'jonathan_c_ong', 'EthanVPorter','GordPennycook']
followed_accounts[followed_accounts['username'].isin(misinfo_researchers)]

### 4. Query user activity for last 200 posts

In [ ]:
activity = api.get_user_activity(usernames=misinfo_researchers, record_count = 200)
print(len(activity))
activity.head()

### 5. Extract edge lists

In [ ]:
el = api.extract_el(activity)
el.head()

### 6. Query seed and mentioned accounts for account info

In [ ]:
seed_users = misinfo_researchers
print('seed user count: ' + str(len(seed_users)))
mentioned_users = el['to'][el['edge_type'] == 'mention'].unique().tolist()
print('mentioned user count: ' + str(len(mentioned_users)))
all_users = list(set(seed_users + mentioned_users))
print('total unique users: ' + str(len(all_users)))

In [ ]:
#Add sleep since Twitter API rate limit is 900 user queries per 15 minutes
import time

counter = 0
all_users_df = []
for user in all_users:     
    try: 
        resp = api.get_users(usernames=user)        
        time.sleep(4)
        all_users_df.append(resp)         
    except:
        pass
    counter += 1
    if counter %250 == 0:
        print(str(counter) + ' out of ' + str(len(all_users)) + ' :: ' + user + ': ' + str(len(resp)))
        
all_users_df = pd.concat(all_users_df)    
all_users_df.reset_index(inplace = True, drop = True)
print(len(all_users_df))

### 7. Write data to disc

In [ ]:
# Write data to disc so I don't burn through all my queries
#all_users_df.to_csv('data/all_users.csv', index = False)
#activity.to_csv('data/activity.csv', index = False)
#el.to_csv('data/el.csv', index = False)